on:
  pull_request_review:
    types:
      - submitted

jobs:
  approved:
    if: github.event.review.state == 'APPROVED'
    runs-on: ubuntu-latest
    steps:
      - name: Check whether all CI workflows have passed
        id: check-whether-all-ci-workflows-have-passed
        continue-on-error: true
        run: |
          set -x
          
          gh pr checks 1> /dev/null

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Dismiss approvals if CI workflows have not passed
        if: steps.check-whether-all-ci-workflows-have-passed.outcome == 'failure'
        run: |
          set -x
          
          gh api "$GITHUB_PULL_REQUEST_URL/reviews" \
            --jq '.[] | select(.state == "APPROVED") | .id' \
            | xargs -I '{}' gh api --method=PUT -f message="Dismissed due to PR edit." \
            /$GITHUB_PULL_REQUEST_URL/reviews/'{}'/dismissals

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PULL_REQUEST_URL: ${{ github.event.review.pull_request_url }}
