on:
  workflow_call:
    inputs:
      github_ref:
        type: string
        required: true

jobs:
  pin-github-actions-versions:
    name: Pin GitHub Actions versions
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.2

      - name: Install 'mheap/pin-github-action'
        run: |
          set -x 
          npm install -g pin-github-action

      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          ref: ${{ inputs.github_ref }}

      - name: Create token for GitHub App 'bakiorg-github'
        id: create-token-for-github-app-bakiorg-github
        uses: actions/create-github-app-token@v1.8.0
        with:
          app-id: ${{ vars.BAKIORG_GITHUB_APP_ID }}
          private-key: ${{ secrets.BAKIORG_GITHUB_APP_PRIVATE_KEY }}

      - name: Run 'pin-github-action'
        continue-on-error: true
        run: |
          set -x
          pin-github-action -c " {ref}" ./.github/workflows/*.yaml

        env:
          GH_ADMIN_TOKEN: ${{ steps.create-token-for-github-app-bakiorg-github.outputs.token }}

      - name: Commit changes from 'pin-github-actions'
        run: |
          set -x
          github_username="bakiorg-github"
          github_email="$BAKIORG_GITHUB_APP_ID+$github_username[bot]@users.noreply.github.com"
          remote_url="https://$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
          
          git remote set-url origin "$remote_url"
          git config --global user.name "$github_username"
          git config --global user.email "$github_email"
          git add ./.github/workflows/*.yaml
          git commit -m "Pin workflow actions"
          git push

        env:
          GITHUB_TOKEN: ${{ steps.create-token-for-github-app-bakiorg-github.outputs.token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          BAKIORG_GITHUB_APP_ID: ${{ vars.BAKIORG_GITHUB_APP_ID }}

