name: CI
on:
  workflow_call:
    inputs:
      github-ref:
        type: string
        required: true
        description: The GitHub ref to check out
      update-type:
        type: string
        required: false
        default: pull-request-review
        description: "The type of update to do. One of: 'commit-directly', 'pull-request-review'"

jobs:
  pin-github-actions-versions:
    name: Pin GitHub Actions versions
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2  test

      - name: Install 'mheap/pin-github-action'
        run: |
          set -x 
          npm install -g pin-github-action

      - name: Create token for GitHub App 'bakiorg-github-workflow-updater'
        id: create-token-for-github-app-bakiorg-github-workflow-updater
        uses: actions/create-github-app-token@v1.8.0
        with:
          app-id: ${{ vars.BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_ID }}
          private-key: ${{ secrets.BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_PRIVATE_KEY }}

      - name: Checkout
        run: |
          set -x 
                
          # https://docs.github.com/en/apps/creating-github-apps/registering-a-github-app/choosing-permissions-for-a-github-app#choosing-permissions-for-git-access          
          git clone "https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git" .
          git checkout "$GIT_REF"

        env:
          GITHUB_TOKEN: ${{ steps.create-token-for-github-app-bakiorg-github-workflow-updater.outputs.token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GIT_REF: ${{ inputs.github-ref }}

      - name: Run 'pin-github-action'
        continue-on-error: true
        run: |
          set -x

          files=$(find ./.github/ -type f -iname "*.yaml")

          echo "$files" | while read line ; do
            pin-github-action -c " {ref}" "$line" || true
          done

        env:
          GH_ADMIN_TOKEN: ${{ steps.create-token-for-github-app-bakiorg-github-workflow-updater.outputs.token }}

      - name: Find relevant diff
        id: find-relevant-diff
        run: |
          set -x 
          
          if git diff --exit-code --quiet -- .github/'*'.yaml; then
            echo "No changes in .yaml files under directory .github/"
            echo "found=false" >> "$GITHUB_OUTPUT"
          else
            echo "Changes detected .yaml files under directory .github/"
            git diff .github/'*'.yaml > diff
            echo "Exported git diff to file 'diff'"
            echo "found=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit changes from 'pin-github-actions'
        if: steps.find-relevant-diff.outputs.found == 'true' && inputs.update-type == 'commit-directly'
        run: |
          set -x

          username="$BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_NAME"
          app_bot_id="$BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_ID"
          email="$app_bot_id+$username@users.noreply.github.com"          
          git config --global user.name "$username"
          git config --global user.email "$email"          
          git add ./.github/'*'.yaml
          git commit -m "Pin GitHub Actions versions"
          git push

        env:
          BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_NAME: ${{ vars.BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_NAME }}
          BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_ID: ${{ vars.BAKIORG_GITHUB_WORKFLOW_UPDATER_APP_BOT_ID }}

      - name: Setup reviewdog
        if: steps.find-relevant-diff.outputs.found == 'true' && inputs.update-type == 'pull-request-review'
        uses: reviewdog/action-setup@v1.2.1

      - name: Review pull request with 'reviewdog'
        if: steps.find-relevant-diff.outputs.found == 'true' && inputs.update-type == 'pull-request-review'
        run: |
          set -x
          
          reviewdog -version

          reviewdog -f=diff -f.diff.strip=1 -name="Pin GitHub Actions versions" -reporter=github-pr-review -tee < diff

        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
