on:
  pull_request:
    branches:
      - main

jobs:
  github-actions-supply-chain-security:
    name: GitHub Actions supply chain security
    uses: ./.github/workflows/pin-github-actions-versions.yaml
    secrets: inherit
    with:
      github_ref: ${{ github.event.pull_request.head.ref }}

  terraform:
    name: Terraform
    uses: ./.github/workflows/terraform.yaml
    secrets: inherit
    with:
      goal: plan
